*{
    
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.choise-div{
  
    margin-top: 100px;
    padding-top: 10px;
    gap: 3rem;;
    margin-left: 550px;
    justify-content:center;
    display: flex;
    align-items: center;
    height: 165px;
    width: 165px;
}
.choise:hover{
    border-radius: 40%;
    background-color: #081b31;
    cursor: pointer;
}
img{
  
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    padding: 5px 5px;
    font-size: 2rem;
    justify-content: space-around;
    display: flex;
    color: aliceblue;
    background-color: #081b31;
     text-align: center;
    margin-left: 500px;
    margin-right: 580px;
    margin-top: 100px;
}

.msg-container{
border-radius: 70px;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 10px;
    padding-top: 15px;
    color: aliceblue;
    background-color: #081b31;
    justify-content: center;
    text-align: center;
    margin-left: 500px;
    margin-right: 580px;

}
